/* general */
main{
    font-family: 'roboto', sans-serif;
    color: #373867;
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: xx-large;
    font-weight: bolder;
}
h2{
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0 50px 0;
}
p{
    font-size: 20px;
    font-weight: 400;
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
    main {
        margin-left: 30%;
    }
}
@media only screen and (min-width: 1000px) {
    main {
        margin-left: 300px;
    }
}