<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TRACKGENIX - Sign Up</title>
        <meta name="description" content="trackgenix landing">
        <meta name="keywords" content="trackgenix, trackgenix s.a., trackgenix hour conter">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
    </head>
    <body>
        <header>
            <div class="conteiner">
                <img src="../assets/img/burger.png" id="menu" alt="Desplegable Menu">
                <img src="../assets/img/header-icon.png" id="icon" alt="TRACKGENIX logo">
                <button>Sign Up</button>
            </div>
        </header>
        <aside>
            <nav>
                <div>Shortcuts</div>
                <ul>
                    <li>
                        <a href="./index.html">Homepage</a>
                    </li>
                    <li>
                        <a href="./login.html">Log In</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <div class="conteiner">
                <h1>Sign-Up</h1>
                <h1>Sign-Up</h1>
                <form>
                    <div>
                        <label for="first-name">First name:</label>
                        <input type="text" name="first-name" id="first-name" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="last-name">Last name:</label>
                        <input type="text" name="last-name" id="last-name" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="dni">DNI:</label>
                        <input type="number" name="dni" id="dni" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="birth-date">Birth date:</label>
                        <input type="date" name="birth-date" id="birth-date" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="telephone">Phone number:</label>
                        <input type="tel" name="telephone" id="telephone" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="address">Address:</label>
                        <input type="text" name="address" id="address" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="location">Location:</label>
                        <input type="text" name="location" id="location" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="z-code">Zip code:</label>
                        <input type="number" name="z-code" id="z-code" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="location">Location:</label>
                        <input type="text" name="location" id="location" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <label for="rep-password">Repeat Password:</label>
                        <input type="password" name="rep-password" id="rep-password" placeholder="Click here to write">
                        <div>Error: error message</div>
                    </div>
                    <div>
                        <input type="submit" name="submit" value="create account" id="submit">
                    </div>
                    <div>
                        <button>cancel</button>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <ul>
                <li>
                    <a href="https://www.linkedin.com" target="_blank">
                        <img src="../assets/img/linkedin-icon.png" alt="linkedin logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com" target="_blank">
                        <img src="../assets/img/twitter-icon.png" alt="twitter logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="../assets/img/fb-icon.png" alt="facebook logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank">
                        <img src="../assets/img/ig-icon.png" alt="instagram logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.github.com" target="_blank">
                        <img src="../assets/img/github-icon.png" alt="github logo">
                    </a>
                </li>
            </ul>           
            <div>Rosario, Argentina.</div>
            <div>Copyright &copy; 2022 Trackgenix S.A. All rights reserved.</div>
        </footer>
    </body>
</html>