header{
    background-color: #373867;
    position: fixed;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
header .conteiner{
    height: 100%;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu{
    width: 30px;
    height: auto;
    filter: #aace98;
}
header button{
    height: 35px;
    width: 100px;
    border-radius: 4px;
    border: none;
    background-color: #aace98;
    color: #373867;
}
