aside {
    display: none;
}
@media only screen and (min-width: 768px) {
    aside{
        display: block;
        position: fixed;
        width: 30%;
        max-width: 300px;
        height: auto;
        font-family: 'Roboto', sans-serif;
        top: 100px;
        left: 0;
        bottom: 100px;
        background-color: #aace98;
        text-align: left;
    }
    aside div{
        font-size: 30px;
        font-weight: bold;
        color: #373867;
        margin: 30% 20% 0 10%;
        padding-bottom: 7%;
        border-bottom: 3px solid #373867;
    }
    aside ul{
        margin-left: 10%;
        margin-top: 3%;
    }
    aside a{
        text-decoration: none;    
    }
    aside li{
        background-color: #ffffff;
        border-bottom: 3px solid #373867;
        margin-top: 6%;
        padding: 2% 0 2% 3%;
        width: 90%;
    }
}